@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #F3F4F6;
}

.rdp-day_button{
  font-weight: 600 !important;
}
.rdp-day_button::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: rgb(129, 218, 117) !important;
  border-radius: 50%;
  margin-left: 1px;
}

.rdp-day_button:disabled::after{
  content: none;
}

/* .rdp-day_button:disabled{
  background-color: rgb(189, 189, 189) !important;
  
} */

.rdp-chevron{
  fill: #229BFF !important;
}




  